.carousel img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel {
    max-width: 100%;
    margin: auto;
}

.feature-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
    transform: scale(1.05);
    /* Slight zoom effect */
}

.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.feature-card:hover .feature-img {
    transform: scale(1.1);
    /* Slight zoom effect on image */
}


.blog-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.blog-card:hover {
    transform: scale(1.05);
}

.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.blog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    text-align: center;
}

.blog-card:hover .overlay {
    opacity: 1;
}